<div class="container">

    <div class="row">
        <div class="col-xs-6">
            <img class="img_left logo" src="{{leagueLogo}}" alt="league logo" style="width:220px;height:180px;"/>
        </div>
        <div class="col-xs-6">
            <ul>
                <li><b>{{league.caption}}</b></li>
                <li>
                    Veja a
                    <a href="/leagues/{{league.league}}/leaguetable"> classificação</a>
                    das {{league.numberOfTeams}} equipas
                </li>
                <li>
                    Veja o <a href="/leagues/{{league.league}}/fixtures">calendário e resultados </a>
                    de todas as jornadas
                </li>
            </ul>
        </div>
    </div>
</div>
