<h2 class="text-center">{{description}}</h2>

    <div class="compact text-center">
        <div class="table-responsive">
                <table class="center_content table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="text-center">Position</th>
                        <th class="text-center">Team Name</th>
                        <th class="text-center">Wins</th>
                        <th class="text-center">Draws</th>
                        <th class="text-center">Losses</th>
                        <th class="text-center">Goals</th>
                        <th class="text-center">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each leagueTable.standing}}
                            <tr class="text-center">
                                <td>{{position}}</td>
                                <td>
                                    <a href="teams/{{removeSpaces teamName}}"> {{teamName}} </a>
                                </td>
                                <td>{{wins}}</td>
                                <td>{{draws}}</td>
                                <td>{{losses}}</td>
                                <td>{{goals}}</td>
                                <td>{{points}}</td>
                            </tr>
                    {{/each}}
                    </tbody>
                </table>
        </div>
    </div>
